<p id="notice"><%= notice %></p>

<h1>Batches</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Batch mates</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @batches.each do |batch| %>
      <tr>
        <td><%= batch.name %></td>
        <td>
          <% batch.enrollments.each do |student| %>
            <%= Enrollment.user_email(student.sender_id)%><br>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>